body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#refreshBtn {
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

.circle-icon {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 20px;
    height: 20px;
    display: block;
}

.success {
    background-color: green;
}

.danger {
    background-color: red;
}

.secondary {
    background-color: grey;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#btnShowAddModal {
    margin-bottom:10px;
}